body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
h1 {
    color: #555;
}
form {
    margin-top: 20px;
    margin-bottom: 20px;
}
input[type="text"] {
    padding: 10px;
    border: 2px solid #b3cde0;
    border-radius: 5px;
    width: 200px;
    margin-right: 10px;
    font-size: 16px;
    transition: border-color 0.3s;
}
input[type="text"]:focus {
    border-color: #6497b1;
    outline: none;
}
button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #6497b1;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}
button:hover {
    background-color: #005b96;
}

#weatherInfo, #forecast {
    width: 80%;
    max-width: 600px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weather-card {
    background-color: #d4e7f5;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.weather-card h3 {
    margin: 0;
    font-size: 18px;
    color: #555;
}
.weather-icon {
    width: 50px;
    height: 50px;
}
.weather-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.weather-details span {
    margin: 3px 0;
}


#forecast {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
}
.forecast-card {
    background-color: #d4e7f5;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    text-align: center;
}
.forecast-card h3 {
    margin: 0 0 10px;
    font-size: 16px;
    color: #555;
}
